<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../static/css.change/change.css" />
  </head>
  <body>
    <div class="container">
      <form method="POST" action="{% url 'forgot_password' %}" class="form-card">
        {% csrf_token %}
        <h1>FORGOT PASSWORD</h1>
        <p class="subtitle">Please create your new password</p>

        <div class="input-group">
          <span class="icon">👤</span>
          <input
            type="text"
            name="username"
            placeholder="Username"
            required
          />
        </div>

        <div class="input-group">
          <span class="icon">🔒</span>
          <input
            type="password"
            name="new_password"
            placeholder="Create new password"
            required
          />
        </div>

        <div class="input-group">
          <span class="icon">🔒</span>
          <input
            type="password"
            name="confirm_password"
            placeholder="Confirm your password"
            required
          />
        </div>

        <button type="submit">Change</button>

        <a href="{% url 'login' %}" class="back-link">Back to login page</a>
      </form>
    </div>
  </body>
</html>
