<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../static/css.register/styles.css" />
    <link rel="stylesheet" href="../static/css.register/form.css" />
    <link rel="stylesheet" href="../static/css.register/input.css" />
    <link rel="stylesheet" href="../static/css.register/button.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <h1>REGISTER</h1>

        <form
          class="register-form"
          method="POST"
          action="{% url 'register' %}"
        >
          {% csrf_token %}

          <div class="input-group">
            <i class="fa-solid fa-user"></i>
            <input
              type="text"
              name="username"
              placeholder="Username"
              required
            />
          </div>

          <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              name="password1"
              placeholder="Password"
              required
            />
          </div>

          <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              name="password2"
              placeholder="Confirm Password"
              required
            />
          </div>

          <button type="submit" class="register-button">Register</button>

          <p class="login-text">
            Already have an account?
            <a href="{% url 'login' %}" class="login-link">Login</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
